<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/style/settings_style.css">
</head>

<body>
	<div class="side-bar">
		<div>
			<span>統計數據</span>
		</div>
		<div>
			<span>新生名單</span>
		</div>
		<div>
			<span>學長姐名單</span>
		</div>
		<div>
			<span>操作</span>
		</div>
	</div>
	<div class="content">
		<h2>統計數據</h2>
		<span>
		    - 新生人數
		    - 學長姐人數
		    - 至少會抽到幾個學長姐
		    - 學長姐最多抽到幾個新生
		    - 剩多少新生還沒抽
		    - 剩多少新生會多抽到一個學長姐
		</span>
		<h2>新生名單</h2>
		<span>
		    - 排序
		    - 號碼
		    - 姓名
		    - 抽到的直屬 or N/A
		</span>
		<h2>學長姐名單</h2>
		<span>
		    - 號碼
		    - 姓名
		    - 抽到的直屬
		</span>
		<h2>操作</h2>
		<span>
		    - 下載結果
		    - 幫剩下的抽
		    - 刪除記錄 (全部重抽)
		</span>
	</div>
</body>

</html>
